@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");


/* CREATE ACCOUNT */

        body {
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0px;
            height: 50vh;
            color: black;
            background-color: #FCE9F1;
            font-weight: bolder;
            font-size: 15px;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5)
            /*background-image: url("images/createAccountBG.gif");
            background-size: cover;
            opacity: 100%;*/
        }

        .container {
            position: relative;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 350px;
            height: 500px;
            margin: 100px auto;
            margin-top: 50px;
            position: center;
        }

        .form-group {
            margin-bottom: 20px;
            width: 450px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 14px;
        }

        input[type="email"] {
            border: 0.5px solid #333;
            padding: 6px;
            border-radius: 20px;
            width: 230px;
            font-weight: bolder;
            font-size: 11px;
        }
s
        .form-group.full-width.username {
            width: 700px;
        }

        .form-group.full-width.username::placeholder {
            font-weight: bolder;    
        }
        .form-group.full-width.select-wrapper {
            width: calc(30% - 6px);
        }

        .input-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            }

        .form-group.full-width {
            width: calc(50% - 7px); 
            border-radius: 20px;    
        }

        .form-group.half-width {
            width: calc(50% - 6px); 
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 12px;
        }

        input[type="text"],
        input[type="password"],
        select {
            width: calc(100% - 7px);
            padding: 6px;
            border: 0.5px solid #333;
            border-radius: 20px;
            position: relative;
            font-weight: bolder;
            font-size: 11px;
        }

        input[type="text"]::placeholder,
        input[type="email"]::placeholder,
        input[type="password"]::placeholder {
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 11px;
            color: #999; /* Placeholder text color */
            border-radius: 20px;
            font-weight: bolder;
        }

        button {
            padding: 0px 15px;
            border: none;
            border-radius: 4px;
            background-color: #585858; /* Changed to gray color */
            color: white; /* Changed to white color */
            cursor: pointer;
            font-weight: bold; /* Make text thicker */
            font-family: "Source Sans Pro", Helvetica, sans-serif;
        }

        button:hover {
            background-color: #f2849e; /* Lighter shade of pink on hover */
        }


        /* Additional styles for terms and conditions */
        #termsLink {
            margin-top: 10px;
            font-size: 14px;
        }

        #termsModal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
            overflow: hidden; /* Hides scrollbars */
        }

        #termsContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #ddd;
            border-radius: 20px;
            font-size: 12px;
            font-weight: normal;
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
            -ms-overflow-style: none; /* Hide scrollbar on Internet Explorer, Edge */
            scrollbar-width: none; /* Hide scrollbar on Firefox */
            font-weight: 550;
        }

        #termsContainer h4 {
            margin-bottom: 10px;
            color: #DE3263;
            font-size: 30px;
            margin-top: 0px;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .close-btn:hover {
            color: red;
        }

        .input-box {
            position: relative;
            display: flex;
            align-items: center;
        }

        .password-toggle {
            position: relative;
            width: calc(50% - 7px);
        }

        .password-toggle input[type="password"] {
            width: 350px; /* Adjusted width to accommodate the icon */
        } 

        .password-toggle input[type="confirm_password"] {
            width: 500px; /* Adjusted width to accommodate the icon */
        }

        .password-toggle img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
            width: 20px; /* Adjusted width of the icon */
        }



